# Backend
server/node_modules/
server/.env
server/uploads/

# Frontend
client/node_modules/
client/dist/
client/.vite/

# Editor/OS directories
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
