
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Kollektif';
  src: url('./assets/fonts/Kollektif-Bold.ttf') format('truetype');
  font-weight: 700;
}

* {
  font-family: 'Kollektif', 'Nunito', sans-serif;
}